{% extends 'basic.html' %}

{% load static %}

{% block content %}

<div class="container">
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, itaque suscipit dolores, omnis nemo eum praesentium mollitia, voluptates a magnam tempora vel amet corporis id. Fuga culpa ab nobis rerum? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati esse, quasi minima veritatis molestias adipisci itaque odit iure unde, amet sequi necessitatibus natus dolore dicta ut temporibus commodi reiciendis at? Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quasi odit unde earum ab corporis et, ad enim vel doloribus molestias iure, at quas beatae dolores. Amet, pariatur cumque. Non?
    </p>
</div>

{% endblock %}